header{
    max-width: 960px;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 4%;
}

.header-logo{
    font-size: 30px;
    margin-top: 150px;
    height: 200px;
}



li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #4b4b4b;
 }

.header-list ul{
    display: flex;
    justify-content: flex-end;
}

.header-list li{
    margin-right: 35px;
}

.fa-instagram{
    font-size: 25px;
    vertical-align: -5px;
}

main{
    max-width: 100%;
}

.mainvisu{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2{
    text-align: center;
}

.about-list{
    margin: auto;
    max-width: 900px;
    font-size: 15px;
}

.about-list p{
    margin-top: 30px;
}

.about-list ul{
    margin: 0;
    padding: 0;
}

.list-ash{
    margin-bottom: 20px;
}

.works-img img{
    width: 270px;
    height: 170px;
    
}

.works-img li{
    width: 33%;
}


.works-img{
    display: flex;
    flex-wrap: wrap;
}

.news-table tr td{
    border-bottom: 1px solid rgb(147, 142, 142);
    border-top: 1px solid rgb(160, 151, 151);
    margin: 0 auto;
    font-size: 15px;
}

.news-table tr{
    height: 50px;
}

.news-table{
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

.table-date{
    width: 30%;
}

.btn{
    width: 730px;
    height: 40px;
}

.btn-sub{
    width: 200px;
    height: 60px;
    background-color: black;
    color: #fff;
}

textarea{
    width: 730px;
    height: 160px;
}

.btn-sect{
    width: 80%;
    margin: 0 auto;
}

footer{
    max-width: 100%;
    background-color: black;
    color: #fff;
    font-size: 5px;
    text-align: center;
    padding: 10px 0;
    margin-top: 100px;
}


@media screen and (max-width:480px) {

    header{
        max-width: 480px;
        height: auto;
        flex-direction: column;
    }

    .header-logo{
        font-size: 35px;
        margin: 0;
        height: 60px;
    }

    .header-list li{
        font-size: 10px;
    }

    .works-img{
        flex-direction: column;
    }

    .table-top{
        display: flex;
        flex-direction: column;
        
    }

    .news-table{
        height: 550px;
    }

    .table-date{
        width: 100%;
        
    }

    .table-date2{
        padding: 30px;
    }

    .table-date3{
        padding: 30px;
    }

    .table-date4{
        padding: 30px;
    }

    .table-date5{
        padding: 30px;
    }

    .table-mess{
        width: 100%;
        
    }

    .table-sec{
        height: 600px;
    }

    .btn-sect{
        height: 400px;
    }

    .btn{
        width: 350px;
        height: 30px;
    }

    textarea{
        width: 350px;
        height: 90px;
    }

    .contact-top{
        display: flex;
        flex-direction: column;
    }

    form{
        height: 500px;
    }

    .table-top{
        height: 350px;
    }

    .contact-top{
        height: 80px;
    }
}