header{
    max-width: 960px;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 4%;
}

.header-logo{
    font-size: 30px;
    margin-top: 150px;
    height: 200px;
}



li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #4b4b4b;
 }

.header-list ul{
    display: flex;
    justify-content: flex-end;
}

.header-list li{
    margin-right: 35px;
}

.fa-instagram{
    font-size: 25px;
    vertical-align: -5px;
}

.mainvisu{
    width: 1170px;
    height: 420px;
    object-fit: cover;
}

h2{
    text-align: center;
}

.about-list{
    margin: auto;
    max-width: 900px;
    font-size: 15px;
}

.about-list p{
    margin-top: 30px;
}

.about-list ul{
    margin-left: -40px;
}

.list-ash{
    margin-bottom: 20px;
}

.works-img img{
    width: 270px;
    height: 170px;
    
}

.works-img{
    display: flex;
    
}

.news-table tr td{
    border-bottom: 1px solid rgb(90, 86, 86);
    width: 860px;
    margin: 0 auto;
}

.news-table{
    border-collapse: collapse;
}

footer{
    max-width: 100%;
    background-color: black;
    color: #fff;
    font-size: 5px;
    text-align: center;
    padding: 10px 0;
}